# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# 虚拟环境
/venv

#测试
/test

# 依赖
/node_modules
/frontend/node_modules


# pnp
/.pnp
/frontend/.pnp
/someinformations
.pnp.js

# 测试覆盖率
/coverage

# 生产构建
/build
#/public
#/src

# 杂项
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略前端项目中的环境变量文件
/frontend/.env

# 忽略后端项目中的环境变量文件
/backend/.env
/backend/app/__pycache__
/backend/app/routes/__pycache__
/backend/app/schemas/__pycache__
/backend/app/services/__pycache__
/backend/app/utils/__pycache__