# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# 依赖
/node_modules
/frontend/node_modules


# pnp
/.pnp
/frontend/.pnp
/someinformations
.pnp.js

# 测试覆盖率
/coverage
/frontend/coverage

# 生产构建
/build
/frontend/build

# 杂项
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*

yarn-error.log*